<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="" type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="logo.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Education Planner</title>
</head>

<body style="background-color:green;overflow-y : auto;">

  <div class="t">
    <div class="" style="background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
      <h1>
        <img src="book2.jfif" alt="" height="75">
        Education Planner
      </h1>
    </div>

    <div class="container-fluid">
      <div class="flex-container" style="text-align:center">




        <div class="card container find" style="width:350px;text-align:center">
          <img class="card-img-top" src="images/college.jpg" alt="Card image" height="250" style="width:100%;">
          <div class="card-body">
            <h4 class="card-title">College Finder</h4>
            <p class="card-text">CALCULATE YOUR PERCENTANGE AND GET TO KNOW ABOUT THE ELIGIBLE COLLEGES</p>
            <a href="/" class="btn btn-primary">Login/Register to explore</a>
          </div>
        </div>

        <div class="login">
          <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="/edu.html" method="post">
                    <h3 class="text-center text-info">Login</h3>
                    <div class="form-group">
                      <label for="username" class="text-info">Username:</label><br>
                      <input type="email" name="username" id="username" class="form-control" placeholder="enter email" required>
                    </div>
                    <div class="form-group">
                      <label for="password" class="text-info">Password:</label><br>
                      <input type="password" name="password" id="password" class="form-control" placeholder="enter password" required>
                    </div>
                    <% if ( neww.length > 0 ) { %>
                    <div class="alert  alert-danger" style="display:flex;justify-content:center;flex-wrap:wrap;background-color: #f8d7da;border-color: #f5c6cb;">
                      <strong>SORRY!</strong> <%= neww%>
                    </div>
                    <% } %>
                    <div class="form-group">

                      <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>
                    <div style="text-align:center;margin-bottom:20px;">
                      <a class="btn btn-dark" href="/auth/google" role="button" style="text-transform:none">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Login with Google
                      </a>
                    </div>
                    <div id="register-link" class="register">
                      <a href="reg.html" class="text-info"><button type="button" class="btn btn-danger">REGISTER</button></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="card container near" style="width:350px;text-align:center">
          <img class="card-img-top" src="/images/nearby.png" height="250" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">College's Near-By</h4>
            <p class="card-text">GET TO KNOW ABOUT PLACES AND FACILITIES NEAR YOUR DESIRED COLLEGES </p>
            <a href="/" class="btn btn-primary">Login/Register to explore</a>
          </div>
        </div>
      </div>


      <div class="study">



        <div class="card container" style="width:350px;text-align:center;margin-bottom:150px">
          <img class="card-img-top" src="/images/study.png" height="250" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Study Material</h4>
            <p class="card-text">GET THE STUDY MATERIAL AND OTHER RELATED RESOURCES AT ONE ONE</p>
            <a href="/" class="btn btn-primary">Login/Register to explore</a>
          </div>
        </div>
      </div>



    </div>
    <footer>
  <P style="text-align:center;color: white;">
    &copy; CREATED BY:ANGEL CHRISTIAN
  </P>
</footer class="foot">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>
